file://{{ .chezmoi.homeDir }}/Documents
file://{{ .chezmoi.homeDir }}/Music
file://{{ .chezmoi.homeDir }}/Pictures
file://{{ .chezmoi.homeDir }}/Videos
file://{{ .chezmoi.homeDir }}/Downloads
file://{{ .chezmoi.homeDir }}/Tresors/Storage Cloud
smb://storage.syphr.net/personal/ NAS
