file://{{ .chezmoi.homedir }}/Documents
file://{{ .chezmoi.homedir }}/Music
file://{{ .chezmoi.homedir }}/Pictures
file://{{ .chezmoi.homedir }}/Videos
file://{{ .chezmoi.homedir }}/Downloads
file://{{ .chezmoi.homedir }}/Tresors/Storage Cloud
smb://storage.syphr.net/personal/ NAS
nfs://storage.syphr.net/gamesaves Game Saves
nfs://storage.syphr.net/media Media
